.navbar {
    background-color: blue;
    position: fixed;
    top: 0; 
    width: 100%; 
    max-height: 50px;
    align-items: left;
    font-size: 2vmin;
}

ul {
    list-style: none;
    margin: 0;
    display: flex;
    align-items: center;
    height: 50px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: red
}

.nav-item {
    padding-right : 20px
}