.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
}

.mainApp {
  margin-top: calc(50px + 1vh);
  margin-left: 2vw;
  font-size: 12px
}